# Data Science Tools and Ecosystem

## Author
Tim Burden

In this notebook we will discuss data science tools and their ecosystems.

**Objectives:**

- List of Popular Data Science Languages

- List of Popular Data Science Libraries

- List of Data Science Tools

- Examples of arithmetic expressions in Python

Some of the most common languages used in data science are:

1. Python
2. SQL
3. R
4. Ruby

Some of the most common libraries used in data science are:

1. SciKit Learn
2. Pandas
3. TensorFlow
4. MatPlotLib

Data Science Tools|
-----|
Jupyter|
Apache Zeppelin|
R Studio

### Here are a couple of examples of arithmetic expression in Python

In [3]:
#This is a simple mathematical expression to multiply then add
(3*4)+5

17

In [13]:
#This expression below converts 200 minutes into hours by dividing by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335